.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1A2E;
    padding: 5px;
  }
  
  .logo img {
    width: 80px;
    height: auto;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
  }
  
  .nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffffff;
    background-color: #f5a623;
  }
  
  /* Estilo para o botão do menu */
  .menu-toggle {
    display: none; /* Esconde o botão em telas grandes */
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
  }
  
  /* Media Queries para responsividade */
  @media (max-width: 768px) {
    .header {
      flex-direction: column; /* Empilha os itens da header verticalmente */
      padding: 10px;
    }
  
    .logo img {
      width: 60px; /* Ajusta o tamanho do logo em telas pequenas */
    }
  
    .nav-links {
      flex-direction: column;
      display: none; /* Oculta o menu por padrão */
      width: 100%;
      background-color: #1A1A2E;
    }
  
    .nav-links.open {
      display: flex; /* Exibe o menu quando está aberto */
    }
  
    .nav-links ul {
      flex-direction: column;
      gap: 1rem;
      padding: 10px;
    }
  
    .nav-links a {
      font-size: 1rem;
      padding: 10px 15px;
      width: 100%;
      text-align: center; /* Centraliza o texto nos links */
    }
  
    .menu-toggle {
      display: block; /* Exibe o botão de menu em telas pequenas */
    }
  }
  
  @media (max-width: 480px) {
    .header {
      padding: 15px;
    }
    .logo img{
        display: none;
    }
    .nav-links a {
      font-size: 0.9rem;
      padding: 12px 16px;
    }
  }
  